.main {
    display: flex;
    width: 95%;
    margin: auto;
  }
  
  .topDiv {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top:3rem;
 
  }
  
  .profile {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-left: 7%;
    margin-top: 0%;
    border-bottom: 1px solid #ddd;
  }
  
  .profile > h2 {
    color: rgb(67, 65, 65);
  }
  
  .screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    width:78vw;
  }
  
  .ComingSoon {
    font-size: 6rem;
    color: #ded8d8;
  }