



.profile > h2 {
  color: rgb(67, 65, 65);
}

.sidebar {
  background: linear-gradient(180deg, #395bc8 0%, #5e3bc8 100%);
  width: 25vw;
  height: 55vh;
  border-radius: 30px;
  box-shadow: rgba(197, 190, 190, 0.24) 0px 3px 8px;
  margin-top: 2rem;
  padding: 3rem;
  text-align: left;
  color: #ffffff;
  
  font-weight: 400;
  padding-top: 17%;
  }
  
  .sidebar a {
    display: flex;
    font-size: 1.7rem;
    padding: 1rem;
    color: #c4bdbd;
    border-bottom:1px solid #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .sidebar a:hover {
    color: #fff;
  }
 
  .active {
    color: #ffffff;
    font-size: 1.7rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
  }
  
  .active::after {
   
    content: ">";
    margin-left: 12vw;
    width: 4vw;
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    font-weight: 700;
    background: #ffffff;
    color: grey;
    margin-top: auto;
    /* left: 10.5%; */
    font-size: 1.7rem;
    border-radius: 50%;
   

  }
  
  .notActive {
    color: #b3afaf;
    font-size: 18px;
    letter-spacing: 1px;
  }